@{
	Layout = "_Admin";
}
@model AllModels
<section class="adminReviews section--dark">
    <div class="container-fluid">
        <table class="adminTable">
            <tr>
                <th>ID отзыва</th>
                <th>ID пользователя</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Оценка</th>
                <th>Действия</th>
            </tr>
            @foreach (var r in Model.Reviews)
            {
                <tr>
                    <td>@r.Id</td>
					<td>@r.User.Id</td>
					<td>@r.User.Lastname</td>
                    <td>@r.User.Name</td>
					<td>@r.Grade</td>
					<td>
						<div class="adminActions">
							<a href="detailsReview/@r.Id">Детали</a>
							<a href="deleteReview/@r.Id">Удалить</a>
                        </div>
                    </td>
                </tr>

            }
        </table>
    </div>
</section>