@{
	Layout = "_Admin";
}
@model AllModels
<section class="adminOffices section--dark">
    <div class="container-fluid">
        <form method="post" class="formForAdmin" asp-action="createSchedule" asp-controller="Admin">
            <h2>Добавление дня</h2>
            <div class="form-group">
                <input type="text" name="scheduleDay" placeholder="День работы" required>
            </div>
            <div class="form-group" >
                <input type="text" name="scheduleTime" placeholder="Время работы (формат XX:XX-XX:XX)" required>
            </div>
            <div class="btn-wrapper">
                <input type="submit" value="Добавить день" class="btn btn-primary">
            </div>
        </form>
        <table class="adminTable">
            <tr>
                <th>День недели</th>
                <th>Время работы</th>
                <th>Действия</th>
            </tr>
            @foreach (var t in Model.Schedules)
           {
               <tr>
                   <td>@t.Day</td>
					<td>@t.Time</td>
					<td>
						<div class="adminActions">
							<a href="editSchedule/@t.Id">Редактировать</a>
							<a href="deleteSchedule/@t.Id">Удалить</a>
                        </div>
                    </td>
               </tr>

           }
        </table>
        <form method="post" class="formForAdmin" asp-action="createOffice" asp-controller="Admin">
            <h2>Добавление нового офиса</h2>
            <div class="form-group">
                <input type="text" name="officeAddress" required placeholder="Адрес офиса">
            </div>
            <div class="form-group">
                <textarea name="officeDescription" placeholder="Введите дополнительную информацию"></textarea>
            </div>
            <div class="form-group">
                <input type="text" name="officePhone" placeholder="Введите телефон офиса" required>
            </div>
			<h3>Выберите дни и время работы</h3>
            @foreach (var t in Model.Schedules)
           {
                <div class="form-check">
                    <input type="checkbox" name="ScheduleId" value="@t.Id" id="@t.Id" /> <label for="@t.Id">@t.Day @t.Time</label>
                </div>
           }
            <div class="btn-wrapper">
                <input type="submit" class="btn btn-primary" value="Добавить офис">
            </div>
        </form>
        <table class="adminTable">
            <tr>
                <th>ID офиса</th>
                <th>Адрес офиса</th>
                <th>Телефон офиса</th>
                <th>Действия</th>
            </tr>
            @foreach (var o in Model.Offices)
           {
               <tr>
					<td>@o.Id</td>
					<td>@o.Address</td>
					<td>@o.Phone</td>
					<td>
						<div class="adminActions">
							<a href="detailsOffice/@o.Id">Детали</a>
							<a href="editOffice/@o.Id">Редактировать</a>
							<a href="deleteOffice/@o.Id">Удалить</a>
                        </div>
                    </td>
               </tr>
           }
        </table>
    </div>
</section>