@{
	Layout = "_Admin";
}
@model AllModels
<section class="users section--dark">
    <div class="container-fluid">
        <table class="adminTable">
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Пол</th>
                <th>Год рождения</th>
                <th>Почта</th>
                <th>Телефон</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Удаление</th>
            </tr>
            @foreach (var u in Model.Users)
           {
               <tr>
                   <td>@u.Id</td>
					<td>@u.Lastname @u.Name @u.Secondname</td>
					<td>@u.Sex</td>
					<td>@u.Year.Day.@u.Year.Month.@u.Year.Year</td>
					<td>@u.Mail</td>
					<td>@u.Phone</td>
					<td>@u.Username</td>
					<td>@u.Password</td>
					<td>
						<div class="adminActions">
							<a href="deleteUser/@u.Id">Удалить</a>
                        </div>
                    </td>
               </tr>
           }
        </table>
    </div>
    <!-- /.container -->
</section>
<!-- /.users -->
