@{
    Layout = "_Layout";
    ViewBag.Title = "Избранное";
}
@model AllModels
<section class="section section--dark favorites">
    <div class="container">
        <div class="favorites-wrapper">
            @foreach (var f in Model.Favorites)
           {
              <div class="favorites-card">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="favorites-card__photo"><img src="@f.Region.Photo" alt="fav"></div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="favorites-card__info">
                            <h2 class="favorites-card__name">Имя участка: @f.Region.Name</h2>
                            <h3 class="favorites-card__square">Площадь участка: @f.Region.Square км</h3>
                            <p class="favorites-card__services">
                                Услуги: 
                            </p>
						    <ul>
                                @foreach (var s in @f.Region.Services)
                                {
                                    <li>@s.Title</li>
                                }
                            </ul>
                            <p class="favorites-card__price">Цена: @f.Region.Price</p>
                            <a href="#" class="btn btn-primary favorites-card__btn">В корзину</a>
                            <a href="deleteFav/@f.Id" class="btn btn-tran favorites-card__btn" style="margin-top: 20px;">Убрать из избранного</a>
                        </div>
                    </div>
                </div>
            </div>
           }
        </div>
        <!-- /.favorites-wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section section--dark favorites -->