@{
    Layout = "_Layout";
    ViewBag.Title = "Офисы";
}
@model AllModels
<section class="section section--dark offices">
    <div class="container">
        <h1 class="offices-title">
        Наши офисы
        </h1>
        <div class="offices-wrapper">
        <div class="row">
            @foreach (var o in Model.Offices)
           {
               <div class="col-12 col-lg-6">
                <div class="offices-card">
                    <h2 class="offices-card__address">Адрес: <br> @o.Address</h2>
                    <p class="offices-card__description">Описание: <br> @o.Description <br> Номер телефона: @o.Phone</p>
                    <p class="offices-card__schedule">График работы: </p>
					<ul>
                        @foreach (var s in @o.Schedules)
                        {
                            <li>@s.Day @s.Time</li>
                        }
                    </ul>
                </div>
                </div>
           }
        </div>
        </div>
        <!-- /.offices-wrapper -->
    </div>
    <!-- /.conainer -->
</section>
<!-- /.section section--dark offices -->